@{
    ViewData["Title"] = "Trang chủ";
}
<link rel="stylesheet" href="~/css/style.css" />

<section>
    <div class="content p-5" style="max-width: 450px; width: 100%; padding: 40px 35px;">
        <div class="info text-center">
            <h1 class="fw-bold mb-3" style="color:white;">
                Hệ thống quản lý du lịch
            </h1>
            <p>Vui lòng đăng nhập hoặc đăng ký để tiếp tục sử dụng hệ thống</p>

            
                <a href="/Account/Login" class="btn">Đăng nhập</a>
                <a href="/Register" class="btn">Đăng ký</a>
            
        </div>
    </div>

    <!-- Hiệu ứng bay bay -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>
