@{
    ViewData["Title"] = "Trang chủ - Jumparena";
}
<link rel="stylesheet" href="~/css/style.css" />

<section>
    <div class="content p-5" style="max-width: 450px; width: 100%; padding: 40px 35px;">
        <div class="info text-center">
            <h1 class="fw-bold mb-3" style="color:white;">
                <i class="fas fa-ticket-alt"></i> JUMPARENA
            </h1>
            <p style="font-size: 1.1em; margin-bottom: 10px;">Khu vui chơi Trampoline & Thử thách</p>
            <p>Vui lòng đăng nhập hoặc đăng ký để đặt vé và trải nghiệm Jumparena</p>

            
                <a href="/Account/Login" class="btn">Đăng nhập</a>
                <a href="/Register" class="btn">Đăng ký</a>
            
        </div>
    </div>

    <!-- Hiệu ứng bay bay -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>
